// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

p {
  margin:rem(20px) 0;
  color:#464646;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 0;
}

h1 {
  font-size: 4rem;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}


/*
|--------------------------------------------------------------------------
| Icon font
|--------------------------------------------------------------------------
*/

    /*
    Flaticon icon font: Flaticon
    Creation date: 19/03/2016 12:21
    */

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}

.icon-left:before { content: "\f100"; }
.icon-right:before { content: "\f101"; }
.icon-filter:before { content: "\f102"; }


