/*
|--------------------------------------------------------------------------
| Post Control
|--------------------------------------------------------------------------
*/

.post-control{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background: #FFF;
    padding:10px 0;
    box-shadow:0 0 20px rgba(black, .5);
    text-align: center;
}


/*
|--------------------------------------------------------------------------
| Single Post
|--------------------------------------------------------------------------
*/

.single-post{
    padding:40px 0;
    margin-top: 40px;
    h2.title{
        text-align: center;
    }

    .image{
        text-align: center;
        
        img{
            max-width:100%;
        }
    }

    .post-content{
        width:70%;
        margin:0 auto;
        h1{
            font-size: rem(36px);
            margin:20px 0;
        }

        h2{
            font-size: rem(28px);
            margin:20px 0;
        }

        h3{
            font-size: rem(24px);
            margin:20px 0;
        }

        h4{
            font-size: rem(20px);
            margin:20px 0;
        }

        ul, ol{
            list-style: circle;
            padding:20px;
            margin-left: 20px;
            color:#464646;
            
            li{
                padding:5px 0;
            }
        }

        ol{
            list-style: decimal;
        }

        p{
            color:#464646;
            line-height: 1.5;
        }

        img{
            max-width:100%;
        }
    }
}